In [7]:
import numpy as np
import pandas as pd
import warnings

In [9]:
warnings.filterwarnings('ignore')

In [13]:
from google.colab import files
uploaded=files.upload()

Saving u.data to u.data
Saving u.item to u.item

In [14]:
columns_name=['user_id','item_id','rating','timestamp']
df=pd.read_csv('u.data',sep="\t",names=columns_name)

In [15]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

# New Section

In [16]:
df.shape

(100000, 4)

In [17]:
df['user_id']

0        196
1        186
2         22
3        244
4        166
        ...
99995    880
99996    716
99997    276
99998     13
99999     12
Name: user_id, Length: 100000, dtype: int64

In [18]:
df['user_id'].nunique()

943

In [19]:
df['item_id'].nunique()

1682

In [20]:
movies_title=pd.read_csv('u.item',sep="\|",header=None)

In [21]:
movies_title.shape

(1682, 24)

In [22]:
movies_titles=movies_title[[0,1]]
movies_titles.columns=["item_id","title"]
movies_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [23]:
df=pd.merge(df,movies_titles,on="item_id")

In [24]:
df

       user_id  ...                                              title
0          196  ...                                       Kolya (1996)
1           63  ...                                       Kolya (1996)
2          226  ...                                       Kolya (1996)
3          154  ...                                       Kolya (1996)
4          306  ...                                       Kolya (1996)
...        ...  ...                                                ...
99995      840  ...                                  Mamma Roma (1962)
99996      655  ...                             Eighth Day, The (1996)
99997      655  ...                                  Girls Town (1996)
99998      655  ...  Silence of the Palace, The (Saimt el Qusur) (1...
99999      655  ...                                    Dadetown (1995)

[100000 rows x 5 columns]

In [25]:
df.tail()

       user_id  ...                                              title
99995      840  ...                                  Mamma Roma (1962)
99996      655  ...                             Eighth Day, The (1996)
99997      655  ...                                  Girls Town (1996)
99998      655  ...  Silence of the Palace, The (Saimt el Qusur) (1...
99999      655  ...                                    Dadetown (1995)

[5 rows x 5 columns]

In [26]:
ratings=pd.DataFrame(df.groupby('title').mean()['rating'])

In [27]:
ratings.head()

                             rating
title
'Til There Was You (1997)  2.333333
1-900 (1994)               2.600000
101 Dalmatians (1996)      2.908257
12 Angry Men (1957)        4.344000
187 (1997)                 3.024390

In [28]:
ratings['num of ratings']=pd.DataFrame(df.groupby('title').count()['rating'])

#Create the recommendar System

In [29]:
df.head()

   user_id  item_id  rating  timestamp         title
0      196      242       3  881250949  Kolya (1996)
1       63      242       3  875747190  Kolya (1996)
2      226      242       5  883888671  Kolya (1996)
3      154      242       3  879138235  Kolya (1996)
4      306      242       5  876503793  Kolya (1996)

In [30]:
moviemat=df.pivot_table(index="user_id",columns="title",values="rating")

In [31]:
moviemat.head()

title    'Til There Was You (1997)  ...  � k�ldum klaka (Cold Fever) (1994)
user_id                             ...
1                              NaN  ...                                 NaN
2                              NaN  ...                                 NaN
3                              NaN  ...                                 NaN
4                              NaN  ...                                 NaN
5                              NaN  ...                                 NaN

[5 rows x 1664 columns]

In [32]:
starwars_user_ratings=moviemat['Star Wars (1977)']

In [33]:
starwars_user_ratings.head(20)

user_id
1     5.0
2     5.0
3     NaN
4     5.0
5     4.0
6     4.0
7     5.0
8     5.0
9     5.0
10    5.0
11    NaN
12    4.0
13    5.0
14    5.0
15    5.0
16    NaN
17    NaN
18    4.0
19    NaN
20    3.0
Name: Star Wars (1977), dtype: float64

In [34]:
similar_to_starwars=moviemat.corrwith(starwars_user_ratings)

In [35]:
similar_to_starwars

title
'Til There Was You (1997)                0.872872
1-900 (1994)                            -0.645497
101 Dalmatians (1996)                    0.211132
12 Angry Men (1957)                      0.184289
187 (1997)                               0.027398
                                           ...
Young Guns II (1990)                     0.228615
Young Poisoner's Handbook, The (1995)   -0.007374
Zeus and Roxanne (1997)                  0.818182
unknown                                  0.723123
� k�ldum klaka (Cold Fever) (1994)            NaN
Length: 1664, dtype: float64

In [36]:
corr_starwars=pd.DataFrame(similar_to_starwars,columns=['correlation'])

In [37]:
corr_starwars.dropna(inplace=True)

In [38]:
corr_starwars

                                       correlation
title
'Til There Was You (1997)                 0.872872
1-900 (1994)                             -0.645497
101 Dalmatians (1996)                     0.211132
12 Angry Men (1957)                       0.184289
187 (1997)                                0.027398
...                                            ...
Young Guns (1988)                         0.186377
Young Guns II (1990)                      0.228615
Young Poisoner's Handbook, The (1995)    -0.007374
Zeus and Roxanne (1997)                   0.818182
unknown                                   0.723123

[1410 rows x 1 columns]

In [41]:
corr_starwars.head()

                           correlation
title
'Til There Was You (1997)     0.872872
1-900 (1994)                 -0.645497
101 Dalmatians (1996)         0.211132
12 Angry Men (1957)           0.184289
187 (1997)                    0.027398

In [43]:
corr_starwars.sort_values('correlation',ascending=False).head(10)

                                                    correlation
title
Hollow Reed (1996)                                          1.0
Commandments (1997)                                         1.0
Cosi (1996)                                                 1.0
No Escape (1994)                                            1.0
Stripes (1981)                                              1.0
Star Wars (1977)                                            1.0
Man of the Year (1995)                                      1.0
Beans of Egypt, Maine, The (1994)                           1.0
Old Lady Who Walked in the Sea, The (Vieille qu...          1.0
Outlaw, The (1943)                                          1.0

In [44]:
ratings

                                         rating  num of ratings
title
'Til There Was You (1997)              2.333333               9
1-900 (1994)                           2.600000               5
101 Dalmatians (1996)                  2.908257             109
12 Angry Men (1957)                    4.344000             125
187 (1997)                             3.024390              41
...                                         ...             ...
Young Guns II (1990)                   2.772727              44
Young Poisoner's Handbook, The (1995)  3.341463              41
Zeus and Roxanne (1997)                2.166667               6
unknown                                3.444444               9
� k�ldum klaka (Cold Fever) (1994)     3.000000               1

[1664 rows x 2 columns]

In [45]:
corr_starwars=corr_starwars.join(ratings['num of ratings'])

In [46]:
corr_starwars

                                       correlation  num of ratings
title
'Til There Was You (1997)                 0.872872               9
1-900 (1994)                             -0.645497               5
101 Dalmatians (1996)                     0.211132             109
12 Angry Men (1957)                       0.184289             125
187 (1997)                                0.027398              41
...                                            ...             ...
Young Guns (1988)                         0.186377             101
Young Guns II (1990)                      0.228615              44
Young Poisoner's Handbook, The (1995)    -0.007374              41
Zeus and Roxanne (1997)                   0.818182               6
unknown                                   0.723123               9

[1410 rows x 2 columns]

In [47]:
corr_starwars.head()

                           correlation  num of ratings
title
'Til There Was You (1997)     0.872872               9
1-900 (1994)                 -0.645497               5
101 Dalmatians (1996)         0.211132             109
12 Angry Men (1957)           0.184289             125
187 (1997)                    0.027398              41

In [49]:
corr_starwars[corr_starwars['num of ratings']>100].sort_values('correlation',ascending=False)

                                                    correlation  num of ratings
title
Star Wars (1977)                                       1.000000             583
Empire Strikes Back, The (1980)                        0.747981             367
Return of the Jedi (1983)                              0.672556             507
Raiders of the Lost Ark (1981)                         0.536117             420
Austin Powers: International Man of Mystery (1997)     0.377433             130
...                                                         ...             ...
Edge, The (1997)                                      -0.127167             113
As Good As It Gets (1997)                             -0.130466             112
Crash (1996)                                          -0.148507             128
G.I. Jane (1997)                                      -0.176734             175
First Wives Club, The (1996)                          -0.194496             160

[334 rows x 2 columns]

In [50]:
def predict_movies(movie_name):
    movie_user_ratings=moviemat[movie_name]
    similar_to_movie=moviemat.corrwith(movie_user_ratings)
    corr_movie=pd.DataFrame(similar_to_movie,columns=['correlation'])
    corr_movie.dropna(inplace=True)
    corr_movie=corr_movie.join(ratings['num of ratings'])
    
    predictions=corr_movie[corr_movie['num of ratings']>100].sort_values('correlation',ascending=False)
    
    return predictions

In [51]:
predict_my_movie=predict_movies("Titanic (1997)")

In [52]:
predict_my_movie.head()

                              correlation  num of ratings
title
Titanic (1997)                   1.000000             350
River Wild, The (1994)           0.497600             146
Abyss, The (1989)                0.472103             151
Bram Stoker's Dracula (1992)     0.443560             120
True Lies (1994)                 0.435104             208